{% extends "base.html" %}

{% block body %}
    <h1 align="center">Добавление карточки фильма/сериала</h1>
    <h2 align="center">Выберите оценку</h2>
        <form action="" method="post">
            <div class="container">
            {{ form.hidden_tag() }}
            <p>
                {{ form.score.label }}<br>
                {{ form.score(class="form-control") }}<br>
                {% for error in form.score.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </p>
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            <div>{{ message }}</div>
                </div>
        </form>
{% endblock %}
