{% extends 'base.html' %}

{% block title %}
FAQ{% endblock %}

{% block body %}
<div class="container" align="center">
<h1 align="center">FAQ</h1>
<br>
<p class="lead text-muted">На этой странице вы найдете объяснения принипу работы нашего проекта :)<p>
</div>

<br>
<br>

<div class="container" align="center">
<h1 align="center">Идея проекта</h1>
<br>
<p class="lead text">Идея нашего проекта заключается в создании более упрощенной версии сайта "MetaCritic"(сайта для оценки игр, фильмов, сериалов).
    <p>
</div>


<div class="container" align="center" text-a>
<h1 align="center">Как осуществляется оценка игр, фильмов, сериалов?</h1>
<br>
<p class="lead text">Чтобы оценить определенную игру/фильм/сериал необходимо:<br>
    1)Стать администратором (см. ниже).<br>
    2)Перейти на страницу добавление статьи(кнопка - "добавить статью")<br>
    3)Заполнить необходимые поля<p>
</div>


<div class="container" align="center">
<h1 align="center">Как устроена система администарции?</h1>
<br>
<p class="lead text">Система администрации сделана для того чтобы регулировать полномочия каждого пользователя.
    В полномочия администратора входит добавление статей, что делает его отличным от других пользователей.
    Чтобы стать администратором необходимо указать специальный код, который можно получить только от создателей проекта.<p>
</div>



{% endblock %}