{% extends 'base.html' %}

{% block title %}
FAQ{% endblock %}

{% block body %}
<div class="container" align="center">
<h1 align="center">FAQ</h1>
<br>
<p class="lead text-muted">На этой странице вы найдете объяснения принипу работы нашего проекта :)<p>
</div>

<br>
<br>

<div class="container" align="center">
<h1 align="center">Идея проекта</h1>
<br>
<p class="lead text">Идея нашего проекта заключается в создании более упрощенной версии сайта "MetaCritic"(сайта для оценки игр, фильмов, сериалов).
    <p>
</div>


<div class="container" align="center" text-a>
<h1 align="center">Как осуществляется оценка продуктов?</h1>
<br>
<p class="lead text">Зайдите на карточку нужного вам продукта, чуть ниже основной информации будет <br>
    кнопка, при нажатии по которой вы сможете оценить продукт. <br>
    Если карточки нужного вам продукта, то вы можете попросить администраторов создать карточку, <br>
    либо создать её самим (если вы сами являетесь администратором)<br>
    <strong> Просим вас ставить лишь по одной оценке каждому продукту.</strong><p>

</div>




<div class="container" align="center">
<h1 align="center">Как устроена система администарции?</h1>
<br>
<p class="lead text">Система администрации сделана для того чтобы регулировать полномочия каждого пользователя.
    В полномочия администратора входит добавление статей, что делает его отличным от других пользователей.
    Чтобы стать администратором необходимо указать специальный код, который можно получить только от создателей проекта.<p>
</div>



{% endblock %}