{% extends 'base.html' %}

{% block title %}
Для администрации{% endblock %}

{% block body %}
<div class="container" align="center">
<h1 align="center">Как добавлять статьи?</h1>
<br>
<p class="lead text-muted">Если вам предоставлены права администратора, то вы спокойно можете добавлять свои статьи<p>
</div>

<br>
<br>

<div class="container" align="center">
<h1 align="center">Как добавить статью?</h1>
<br>
<p class="lead text">Сделать это очень просто! Сначала нажмите на кнопку "Добавить статью".
    <br>
    <img src="../assets/img/tutorial.jpg" alt="tutorial">
    <p>
    <p class="lead text">Далее следует заполнить все пустые поля и нажать кнопку "Отправить".
    <br>
    <img src="../assets/img/tutorial2.jpg" alt="tutorial">
    <p>
</div>
{% endblock %}