{% extends 'base.html' %}
{% block title %}
Welcome
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Регистрация</h1>
    <form method="post">
        <input type="text" name="nickname" id="nickname" class="form-control" placeholder="Введите никнейм"><br>
        <textarea name="password" id="password" class="form-control" placeholder="Введите пароль"></textarea><br>
        <textarea name="key" id="key" class="form-control" placeholder="Введите особый код (только для администраторов)" ></textarea><br>
        <input type="submit" class="btn btn-success" value="Отправить"><br>
    </form>
</div>
{% endblock %}
