{% extends 'base.html' %}
{% block title %}
Welcome
{% endblock %}

{% block body %}


{% if current_user.is_authenticated %}
 <div class="alert alert-danger" role="alert">
            Вы уже авторизированы
        </div>

{% else %}
<div class="container mt-5">
<!--    <h1>Регистрация</h1>-->
<!--    <form method="post">-->
<!--        <input type="text" name="nickname" id="nickname" class="form-control" placeholder="Введите никнейм"><br>-->
<!--        <textarea name="password" id="password" class="form-control" placeholder="Введите пароль"></textarea><br>-->
<!--        <textarea name="key" id="key" class="form-control" placeholder="Введите особый код (только для администраторов)" ></textarea><br>-->
<!--        <input type="submit" class="btn btn-success" value="Отправить"><br>-->
<!--    </form>-->
    <h1>Регистрация</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.secret_key.label }}<br>
        {{ form.secret_key(class="form-control") }}<br>
        {% for error in form.secret_key.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
</div>

{% endif %}
{% endblock %}

